<head>
    <style>
    * {
        margin-top: 10px;
    }
    h1 {
        text-align:center;
        color:lightsteelblue
    }

    label {
        color: white;
      }

    input {
        margin-left: 50;
    }
    </style>
</head>    

<body style="background-color: rgba(7, 48, 58, 0.849);"> 
    <h1>Assign another genre to a singer</h1>
    <form action=/assigngenre method="POST">
        
        <label style="margin-left: 50"><b>New genre:</b></label><br>
        <input type="text" name="genre"/><br/><br/>
        <label style="margin-left: 50"><b>Artist:</b></label><br>
        <input type="text" name="name"/><br/><br/>
        <input type="submit" value="Assign"/>
    </form>

    <form method="get" action="/">
        <button style="float:right; margin-right: 100">Home</button>
    </form>
</body>